<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.zeffect.apk.googletest">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BottomSheetDialogActivity"></activity>
        <activity
            android:name=".windowsmanger.WMActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".imagecanvas.ImageCanvasActivity"></activity>
        <activity android:name=".ImageCanvas2.ImageCanvas2"></activity>
        <activity android:name=".sockettest.SocketActivity"></activity>
        <activity android:name=".imagecanvas3.ImageCanvasActivit3"></activity>
        <activity android:name=".path.PathActivity"></activity>

        <service android:name=".windowsmanger.WMService"></service>
        <receiver android:name=".startapp.StartAppReceiver">
            <intent-filter>
                <action android:name="cn.zeffect.apk.googletest.startapp"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>